tidecheck
tidechecker
# I don't *think* we want to check in the generated pb go code...
*.pb.go
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.test
*.prof
.DS_Store
.idea
